<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!--namespace 写的是mapper的全限定名-->
<mapper namespace="com.nowcoder.community.dao.UserMapper">
    <!--复用selectFields-->
    <sql id="insertFields">
        username,password,salt,email,type,status,activation_code,header_url,create_time
    </sql>
    <sql id="selectFields">
        id,username,password,salt,email,type,status,activation_code,header_url,create_time
    </sql>

    <!--id 写的是方法名-->
    <select id="selectById" resultType="com.nowcoder.community.entity.User">
        select <include refid="selectFields"> </include>
        from user
        where id = #{id}
    </select>
    <select id="selectByName" resultType="com.nowcoder.community.entity.User">
        select <include refid="selectFields"></include>
        from user
        where username = #{username}
    </select>
    <select id="selectByEmail" resultType="com.nowcoder.community.entity.User">
        select <include refid="selectFields"> </include>
        from user
        where email = #{email}
    </select>
    <select id="selectUserByName" resultType="com.nowcoder.community.entity.User">
        select <include refid="selectFields"> </include>
        from message
        where username = #{userName}
    </select>
    <!-- keyProperty 主键    主键返回-->
    <insert id="insertUser" parameterType="User" keyProperty="id">
        insert into user (<include refid="insertFields"> </include>)
        values(#{userName},#{password},#{salt},#{email},#{type},#{status},#{activationCode},#{headerUrl},#{createDate})
    </insert>

    <update id ="updateStatus">
        update user set status = #{status} where id = #{id}
    </update>
    <update id ="updateHeader">
        update user set header_url = #{headerUrl} where id = #{id}
    </update>
    <update id ="updatePassword">
        update user set password = #{password} where id = #{id}
    </update>


</mapper>